/* For index.htlm */

.section {
  padding-bottom: 94px;
}

/* Hero */
.hero {
  background-color: #2f303a;
}

.hero-content {
  padding-top: 200px;
  padding-bottom: 200px;
  margin-right: auto;
  margin-left: auto;
  max-width: 700px;

  text-align: center;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;

  color: var(--primary-white-color);
  text-transform: uppercase;
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
}

.button {
  padding: 10px 32px;
  
  color: var(--primary-white-color);
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  text-decoration: none;
}

/* Особенности-features */

.features {
  padding-top: 94px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
}
.features .title {
  margin: 0 0 10px 0;

  color: var(--primary-black-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features .text {
  margin: 0;

  color: #757575;
  font-size: 14px;
  line-height: 1.7;
}

.features-item {
  width: calc((100% - 30px * 3) / 4);
  margin-right: 30px;
  margin-bottom: 30px;
}

.features-item:nth-child(4n) {
  margin-right: 0;
}

.features-item:nth-last-child(-n + 4) {
  margin-bottom: 0;
}

/* Чем мы занимаемся */
.what-we-do .title {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 50px;
  padding-top: 0;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.doing-list {
  display: flex;
  flex-wrap: wrap;
}

.doing-item {
  width: calc((100% - 30px * 2) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.doing-item:nth-child(3n) {
  margin-right: 0;
}

.doing-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

/* Наша команда */
.team {
  padding-top: 94px;

  background-color: #F5F4FA;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
}

.team-item {
  width: calc((100% - 30px * 3) / 4);
  margin-right: 30px;
  margin-bottom: 30px;
}

.team-item:nth-child(4n) {
  margin-right: 0;
}

.team-item:nth-last-child(-n + 4) {
  margin-bottom: 0;
}

.team .title {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.team .name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team .biz {
  color: #757575;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
